<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Parler Data Searcher</title>
    <meta name="description" content="Search for Parler data">
    <link id="favicon" rel="icon" href="/public/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <h1>
            Parler Data Searcher
        </h1>
    </header>

    <div class="link-container">
        <a href="/users">Search users</a>
        <a href="/posts">Search posts</a>
    </div>

    {% block content %}{% endblock %}

    <hr />

    <footer>
        <a href="http://twitter.com/TechBlocSEA">If I break message TechBloc</a>
    </footer>

</body>
</html>
