{% extends "form_base.html" %}

{% block form_fields %}
    <h2 class="form-header">Posts</h2>

    <input type="hidden" value="posts" name="search_type" />

    <label>
        Username (exact, case-sensitive):
        <input
            class="entity-input"
            type="search"
            placeholder="username"
            name="username"
            value="{{ username }}"
        />
    </label>

    <label>
        Include username mentions:
        <input
            class="entity-input"
            type="checkbox"
            name="mentions"
            {% if mentions -%}
            checked="checked"
            {% endif -%}
            value="true"
        />
    </label>

    <label>
        Content:
        <input
            class="entity-input"
            type="search"
            placeholder="content"
            name="search_content"
            value="{{ search_content }}"
        />
    </label>

    <label>
        Match all fields:
        <input
            class="entity-input"
            type="radio"
            name="behavior"
            value="match_all"
            {% if behavior == "match_all" -%}
            checked="checked"
            {% endif -%}
        />
    </label>

    <label>
        Match any field:
        <input
            class="entity-input"
            type="radio"
            name="behavior"
            value="match_any"
            {% if behavior == "match_any" -%}
            checked="checked"
            {% endif -%}
        />
    </label>

{% endblock %}

{% block results %}
    <section>
        {% for post in posts %}
            {% with wrapper_class = "post-container" %}
                {% include "post.html" %}
            {% endwith %}
        {% endfor %}
        {% if posts == [] %}
            <div class="no-results">
                No results found for this query
            </div>
        {% endif %}
    </section>
{% endblock %}
