<ul class="{{ wrapper_class }}">
    <li><strong>Username:</strong> {{ post.username | with_search_links | safe }}</li>
    {% if post.text %}
        <li><strong>Content:</strong> {{ post.text | with_search_links | with_highlighted_term(content_regex) | safe }}</li>
    {% endif %}
    {% if post.echo %}
        {% with post=post.echo, wrapper_class="echo-container" %}
            <li><strong>Echo:</strong> {% include "post.html" %}</li>
        {% endwith %}
    {% endif %}
    {% if post.comments %}
        {% with comments = post.comments %}
            <li><strong>Comments: </strong> {% include "comments.html" %}</li>
        {% endwith %}
    {% endif %}
    {% if post.media %}
        {% with media = post.media, wrapper_class="post-media-container" %}
            <li><strong>Media: </strong> {% include "media.html" %}</li>
        {% endwith %}
    {% endif %}
    {% if post.image %}
        <li><strong>Image: </strong> {{ post.image }}</li>
    {% endif %}
    {% if post.video %}
        <li><strong>Video: </strong> {{ post.video }}</li>
    {% endif %}
</ul>
